// HEADER

#header {
  background-color: $blue-gray;
  padding: 40px 55px;
  height: 123px;
  border-bottom: 3px solid #fff;
  box-sizing: border-box;

  #nav-logos {
    height: 38px;
  }
}

#conf-nav {
  li {
    a {
      color: #fff;
      background-color: $orange;
      margin-right: 2px;
      @include openSansBd(14px);
      text-transform: uppercase;
      @include transition(all 300ms);

      &:hover, &.active {
        color: $dark-gray-text;
      }
    }
  }
}

