#speakers{
  @include clearfix();
  background: $orange;

  .container {
    // padding: 0;
    padding: 487px 0 50px 0;
    color:$white;
    text-align:center;
    background: $orange url(/images/speakers.jpg) no-repeat center top;
  }

  .speaker {
    width:25%;
    float:left;
    vertical-align: top;

    .photo {
      width:100%;
      padding:0 20px;
      overflow:hidden;
      img {
        width:100%;
      }
    }

    .name {
      @include openSansBd(24px);
      text-transform: uppercase;
    }

    .title {
      @include openSansBd(13px);
      line-height:16px;
      text-transform: uppercase;
    }

    .bio {
      position:relative;
      margin: 16px 0 20px 0;
      padding: 24px 20px 0;

      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      &:before {
        position:absolute;
        content:"";
        display:block;
        width:30%;
        margin:0 auto;
        top:0;
        left:0;
        right:0;
        border-bottom:3px solid $dark-orange;
      }
    }

    .read-more {
      color:$white;
      @include openSansSmBd(18px);
      border-bottom:1px solid $white;
      @include transition(all 300ms);
      &:hover {
        color:$dark-gray-text;
        text-decoration: none;
        border-bottom:1px solid $dark-gray-text;
      }
      &:focus {
        text-decoration: none;
      }
    }

    .expand {
      -webkit-line-clamp: initial;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }
}
