/***** Colors *****/
$white: #ffffff;
$black: #000000;
$blue-gray: #32444e;
$lighter-blue-gray: #4b5d67;
$turquoise-text: #489ea2;
$orange: #ef7246;
$dark-orange:#8b513f;
$light-gray-text: #757575;
$dark-gray-text: #393e46;
$light-gray-field: #d3dce1;
$lighter-gray-background: #e9eaec;




