/***** Colors *****/
$blue-gray: #32444e;
$orange: #ef7246;
$light-cgray-text: #757575;
$dark-gray-text: #393e46;
$light-gray-field: #d3dce1;
$lighter-gray-background: #e9eaec;

/***** Fonts *****/
ProximaNovaCond Semibold
ProximaNovaCond Bold
ProximaNovaCond Black